<?xml version="1.0" encoding="utf-8"?>
<!-- IIS: MIME types utk asset Blazor WebAssembly + rewrite fallback ke index.html
     supaya deep link (mis. /project/5) tidak 404. Butuh IIS URL Rewrite Module. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <staticContent>
        <remove fileExtension=".blat" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <remove fileExtension=".dat" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <remove fileExtension=".dll" />
        <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <remove fileExtension=".wasm" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
        <remove fileExtension=".br" />
        <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
      </staticContent>
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/octet-stream" enabled="true" />
          <add mimeType="application/wasm" enabled="true" />
        </dynamicTypes>
      </httpCompression>
      <rewrite>
        <rules>
          <!-- Sajikan file .br/.gz hasil precompress "dotnet publish" (kalau ada & browser
               dukung) alih-alih file mentah tidak terkompresi. Tanpa ini setiap load
               _framework/*.dll + dotnet.wasm jauh lebih besar & lambat, terutama di LAN/WiFi
               kiosk. Rule resmi dari dokumentasi Microsoft utk standalone Blazor WASM di IIS
               polos (bukan model hosted ASP.NET Core). -->
          <rule name="Serve br-compressed files" stopProcessing="true">
            <match url="(.+)" />
            <conditions>
              <add input="{HTTP_ACCEPT_ENCODING}" pattern="br" />
              <add input="{REQUEST_FILENAME}.br" matchType="IsFile" />
            </conditions>
            <action type="Rewrite" url="{R:1}.br" />
          </rule>
          <rule name="Serve gzip-compressed files" stopProcessing="true">
            <match url="(.+)" />
            <conditions>
              <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
              <add input="{REQUEST_FILENAME}.gz" matchType="IsFile" />
            </conditions>
            <action type="Rewrite" url="{R:1}.gz" />
          </rule>
          <rule name="Serve subdirectory index.html" stopProcessing="true">
            <match url="." />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.html" />
          </rule>
        </rules>
        <outboundRules>
          <!-- Tanpa ini browser terima file .br/.gz tapi header Content-Encoding tidak
               di-set, browser gagal decode dan menolak/corrupt response-nya. -->
          <rule name="Set Content-Encoding: br" preCondition="IsBrFile">
            <match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
            <action type="Rewrite" value="br" />
          </rule>
          <rule name="Set Content-Encoding: gzip" preCondition="IsGzipFile">
            <match serverVariable="RESPONSE_Content-Encoding" pattern=".*" />
            <action type="Rewrite" value="gzip" />
          </rule>
          <preConditions>
            <preCondition name="IsBrFile">
              <add input="{REQUEST_URI}" pattern="\.br$" />
            </preCondition>
            <preCondition name="IsGzipFile">
              <add input="{REQUEST_URI}" pattern="\.gz$" />
            </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
